.idea/*

gcp/*
flask/*
others/*

aws/package-lock.json
aws/node_modules/*
aws/.serverless/*
aws/__pycache__/*

simple_app/package-lock.json
simple_app/node_modules/*
simple_app/.serverless/*
simple_app/__pycache__/*


azure/package-lock.json
azure/node_modules/*
azure/__pycache__/*
azure/.serverless/*

gcp/package-lock.json
gcp/node_modules/*
gcp/__pycache__/*
gcp/.serverless/*



flask_hello/env/*
flask_hello/node_modules/*
flask_hello/.serverless

others/*

.DS_Store
.idea/*


